/** Forma de usar variáveis no CSS **/
:root{
    --vermelho: #E50914;
    --preta: #141414;
}

/* Forma de zerar as configurações padrão do documento */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Faz com que os elementos não ultrapassem a borda */
}

/*elementos base*/
body {
    background: var(--preta); /* Forma de declarar variáveis em CSS */
    
    font-family: 'Times New Roman', Times, serif; /** A primeira será substituída somente em caso de não compatibilidade **/
    color: white;
}

header .container {
    display: flex; /** Aplica um alinhamento aos elementos em tela.
    Tem a tendencia de jogar tudo pra linha.  Vem com a direção "row"
    como padrão, mesmo sem declarar. **/
    
    flex-direction: row; /** Propriedade que alinha os elementos em linha.
    Costuma vir por padrão, quando se usa o "display: flex;" **/

    align-items: center; /** alinha os elementos ao centro. **/

    justify-content: space-between; /** Cria espaço entre os elementos **/
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}
/** Formatação dos links de menu **/ 
header nav a{
    text-decoration: none; /** Elimina o efeito de link sobre a string **/
    color: #AAA; 
    margin-right: 10px; /** Aplica margem entre as palavra do menu **/
}

header nav a:hover{ /** Aplica o efeito de mudança de cor do texto 
    ao posicionar o mouse em cima **/
    color: #fff;
}

/*filme principal*/
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), /*aplica efeito de cor gradiente sobre a imagem de fundo*/ url('/img/capa-house.jpg'); /*forma de colocar uma imagem de fundo*/
    height: 400px;
    background-size: cover; /*pega a imagem de fundo e redimensiona para o tamanho da caixa*/

    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: flex-start; /*elementos alinhados a esquerda*/

}

.filme-principal .descricao{
    margin-bottom: 40px;
}

.titulo{
    font-size: 40px;
}